<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->  
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <!-- 声明需要暴露的服务接口 -->  
    <dubbo:application name="dubbo_provider"  />  

    <!-- <dubbo:registry address="zookeeper://192.168.93.131:2181" />  --> 
    <dubbo:registry address="zookeeper://localhost:2181" />  
    
    <dubbo:provider filter="myDubboFilter" check="false"></dubbo:provider> 
    <dubbo:consumer filter="myDubboFilter" check="false"></dubbo:consumer>

    <dubbo:protocol name="dubbo" port="20880" />  
	<!-- cache="lru"  -->
    <dubbo:service interface="com.jo.dy.ot.service.UserService" ref="userService" />
    <dubbo:service interface="com.jo.dy.ot.service.LeaveBillService" ref="leaveBillService" />
    <dubbo:service interface="com.jo.dy.ot.service.ProcessService" ref="processService"  />
    <dubbo:service interface="com.jo.dy.ot.service.SysWorkflowService" ref="sysWorkflowService"  />
    <dubbo:reference interface="com.jo.dy.ot.service.OtherService" id="otherService"  url="dubbo://localhost:20881"/>
</beans>